.social{
  max-width : 300 px ;
  max-height : 1800 px ;
  display : block ;
  margin-right : .7em ;
  margin-left : .7em ;
  padding : 0;
  float : right ;
  clear : right ;
}

.img-logo{
  max-width : 180 px ;
  max-height : 96 px ;
  display : block ;
  margin-right : .7em ;
  margin-left : .7em ;
  padding : 0;
  float : right ;
  clear : right ;
}

.img-center{
  display : block ;
  margin : auto ;
}

.img-shadow{
  box-shadow : 0 0 2 px 3 px #ddd ;
}
