
.layout-content
	//margin-left: sidebar-width

	//debug
	//border: 1px solid green

	@media screen and (max-width: trigger-width)
		margin: 0 auto


.panel-content
	padding-top: block-60

	//// debug
	//border: 1px solid green

.panel-title
	padding-bottom: block-20


.box-content
	width: 100%

	//// debug
	//border: 1px solid green


