/* 设置滚动条的样式
::-webkit-scrollbar         滚动条整体部分
::-webkit-scrollbar-thumb             滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
::-webkit-scrollbar-track      滚动条的轨道（里面装有thumb）
::-webkit-scrollbar-button      滚动条轨道两端的按钮，允许通过点击微调小方块的位置
::-webkit-scrollbar-track-piece    内层轨道，滚动条中间部分（除去）
::-webkit-scrollbar-corner     边角，及两个滚动条的交汇处
::-webkit-resizer       两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;  
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-button:start:increment,::-webkit-scrollbar-button:end:decrement {
    display: none;
}

::-webkit-scrollbar-corner {
    display: block;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0,0,0,.2);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 8px;
    background-color: rgba(0,0,0,.5);
}

::-webkit-scrollbar-track,::-webkit-scrollbar-thumb {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,.15);
}
::-webkit-scrollbar-button:start {
    width: 10px;
    height: 10px;
    background: url(../img/scrollbar_arrow.png) no-repeat 0 0;
}

::-webkit-scrollbar-button:start:hover {
    background: url(../img/scrollbar_arrow.png) no-repeat -15px 0;
}

::-webkit-scrollbar-button:start:active {
    background: url(../img/scrollbar_arrow.png) no-repeat -30px 0;
}

::-webkit-scrollbar-button:end {
    width: 10px;
    height: 10px;
    background: url(../img/scrollbar_arrow.png) no-repeat 0 -18px;
}

::-webkit-scrollbar-button:end:hover {
    background: url(../img/scrollbar_arrow.png) no-repeat -15px -18px;
}

::-webkit-scrollbar-button:end:active {
    background: url(../img/scrollbar_arrow.png) no-repeat -30px -18px;
}
