<% if (!theme.preload_comment) { %>
    <aside class="comment-bar">
        <a href="javascript:void(0);">
            <i class="fa fa-commenting-o animated infinite pulse"></i>
            <i class="fa fa-spinner fa-pulse"></i>
            <span class="count-comment"></span>
        </a>
    </aside>
    <script>
        var isExist = false;
        var countBg = 3;
        var countAdmin = 3;
        var $commentBar = $("#comments aside.comment-bar");
        var load$hide = function(){
          $commentBar.find("a > i").toggle();
            if(!isExist){
              isExist = true;
              loadJS("https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js", function(){
                setTimeout("resetBackground()", "800");
              })
              $commentBar.fadeOut(800);
            }
        }
        function resetBackground() {
          if($("#yun-tie-sdk-wrap").length <= 0 && countBg > 0){
            countBg--;
            setTimeout("resetBackground()", "800");
            return;
          }
          $("#yun-tie-sdk-wrap").css("background-color","#efefef");
          $(".tie-textarea").css("background-color","#F7F8F9");
          $(".single-tie").css("background-color","#fafafa");
          includeLinkStyle("/plugins/css/netease.css");
          //var path = "<span class='ua'>" + sskadmin(navigator.userAgent) + "</span><span class='ua'>" + ua(navigator.userAgent) +"</span><span class='ua'>"+ os(navigator.userAgent) + "</span>";
          //console.log(path);
          setTimeout("resetAdmin()", "300");
        }
        $commentBar.click(function(){
            load$hide();
        })
        $commentBar.children("a").hover(function(){
            load$hide();
        })
        if (window.location.hash === "#comments") {
            load$hide();
        }

        function resetAdmin(){
          if($(".name-desp").length > 0){
            $(".name-desp").each(function () {
              var desp = $(this).text();
              if(desp.indexOf('ngudream') >= 0){
                $(this).text("博主");
                //$(this).addClass("sskadmin");
              }
            });
          } else {
            if(countAdmin > 0){
              countAdmin--;
              setTimeout("resetAdmin()", "300");
            }
          }
        }

        //管理员判断开始
        function sskadmin(e) {
          if($(".name-desp").length > 0){
            $(".name-desp").each(function () {
              var desp = $(this).text();
              if(desp.indexOf('ngudream') >= 0){
                return "<span class='ua'><span class='sskadmin'>博主</span></span>";
              }
            });
          }
          return "<span class='ua'><span class='sskadmin'>博主</span></span>";
        }
        //管理员判断结束
        //显UA开始
        function ua(e) {
            var r = new Array;
            var outputer = '';
            if (r = e.match(/FireFox\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_firefox'><i class='fa fa-firefox'></i> FireFox"
            } else if (r = e.match(/Maxthon([\d]*)\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_maxthon'><i class='fa fa-globe'></i> Maxthon"
            } else if (r = e.match(/BIDUBrowser([\d]*)\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_ucweb'><i class='fa fa-globe'></i> 百度浏览器"
            } else if (r = e.match(/UBrowser([\d]*)\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_ucweb'><i class='fa fa-globe'></i> UCBrowser"
            } else if (r = e.match(/UCBrowser([\d]*)\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_ucweb'><i class='fa fa-globe'></i> UCBrowser"
            } else if (r = e.match(/MetaSr/ig)) {
                outputer = "<span class='ua_sogou'><i class='fa fa-globe'></i> 搜狗浏览器"
            } else if (r = e.match(/2345Explorer/ig)) {
                outputer = "<span class='ua_2345explorer'><i class='fa fa-globe'></i> 2345王牌浏览器"
            } else if (r = e.match(/2345chrome/ig)) {
                outputer = "<span class='ua_2345chrome'><i class='fa fa-globe'></i> 2345加速浏览器"
            } else if (r = e.match(/LBBROWSER/ig)) {
                outputer = "<span class='ua_lbbrowser'><i class='fa fa-globe'></i> 猎豹安全浏览器"
            } else if (r = e.match(/MicroMessenger\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_qq'><i class='fa fa-weixin'></i> 微信"
                /*.split('/')[0]*/
            } else if (r = e.match(/QQBrowser\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_qq'><i class='fa fa-qq'></i> QQ浏览器"
                /*.split('/')[0]*/
            } else if (r = e.match(/QQ\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_qq'><i class='fa fa-qq'></i> QQ浏览器"
                /*.split('/')[0]*/
            } else if (r = e.match(/MiuiBrowser\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_mi'><i class='fa fa-globe'></i> Miui浏览器"
                /*.split('/')[0]*/
            } else if (r = e.match(/Chrome([\d]*)\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_chrome'><i class='fa fa-chrome'></i> Chrome"
                /*.split('.')[0]*/
            } else if (r = e.match(/safari\/([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_apple'><i class='fa fa-safari'></i> Safari"
            } else if (r = e.match(/Opera[\s|\/]([^\s]+)/ig)) {
                var r1 = r[0].split("/");
                outputer = "<span class='ua_opera'><i class='fa fa-opera'></i> Opera"
            } else if (r = e.match(/Trident\/7.0/gi)) {
                outputer = "<span class='ua_ie'><i class='fa fa-internet-explorer'></i> IE 11"
            } else if (r = e.match(/MSIE\s([^\s|;]+)/gi)) {
                outputer = "<span class='ua_ie'><i class='fa fa-internet-explorer'></i> IE" + " " + r[0]
                /*.replace("MSIE", "").split(".")[0]*/
            } else {
                outputer = "<span class='ua_other'><i class='fa fa-globe'></i> 其它浏览器"
            }
            if (checkMobile()) {
                Mobile = "<br><br>";
            } else {
                Mobile = "";
            }
            return outputer + "</span>" + Mobile;
        }
        function os(e) {
            var os = "";
            if (e.match(/win/ig)) {
                if (e.match(/nt 5.1/ig)) {
                    os = "<span class='os_xp'><i class='fa fa-windows'></i> Windows XP"
                } else if (e.match(/nt 6.1/ig)) {
                    os = "<span class='os_7'><i class='fa fa-windows'></i> Windows 7"
                } else if (e.match(/nt 6.2/ig)) {
                    os = "<span class='os_8'><i class='fa fa-windows'></i> Windows 8"
                } else if (e.match(/nt 6.3/ig)) {
                    os = "<span class='os_8_1'><i class='fa fa-windows'></i> Windows 8.1"
                } else if (e.match(/nt 10.0/ig)) {
                    os = "<span class='os_8_1'><i class='fa fa-windows'></i> Windows 10"
                } else if (e.match(/nt 6.0/ig)) {
                    os = "<span class='os_vista'><i class='fa fa-windows'></i> Windows Vista"
                } else if (e.match(/nt 5/ig)) {
                    os = "<span class='os_2000'><i class='fa fa-windows'></i> Windows 2000"
                } else {
                    os = "<span class='os_windows'><i class='fa fa-windows'></i> Windows"
                }
            } else if (e.match(/android/ig)) {
                os = "<span class='os_android'><i class='fa fa-android'></i> Android"
            } else if (e.match(/ubuntu/ig)) {
                os = "<span class='os_ubuntu'><i class='fa fa-desktop'></i> Ubuntu"
            } else if (e.match(/linux/ig)) {
                os = "<span class='os_linux'><i class='fa fa-linux'></i> Linux"
            } else if (e.match(/mac/ig)) {
                os = "<span class='os_mac'><i class='fa fa-apple'></i> Mac OS X"
            } else if (e.match(/unix/ig)) {
                os = "<span class='os_unix'><i class='fa fa-desktop'></i> Unix"
            } else if (e.match(/symbian/ig)) {
                os = "<span class='os_nokia'><i class='fa fa-mobile'></i> Nokia SymbianOS"
            } else {
                os = "<span class='os_other'><i class='fa fa-desktop'></i> 其它操作系统"
            }
            return os + "</span>";
        }
        //显UA结束
    </script>
<% } else { %>
    <script> loadComment(); </script>
<% } %>
