
<div class="duoshuo" id="comments">
    <div id="comment-box" ></div>
    <div id="cloud-tie-wrapper" class="cloud-tie-wrapper" style="background:#E6E6E6 !important;"></div>
    <script>
      var cloudTieConfig = {
        url: document.location.href,
        sourceId: "",
        productKey: "",
        target: "cloud-tie-wrapper"
      };
    </script>
    <%- partial('click2show-netease') %>
</div>
