#local-search-input:focus
{
  color:#198ded;
}

/* 通用 */
.cb-search-content::-webkit-input-placeholder { color:#B0B0B0; }
.cb-search-content::-moz-placeholder { color:#B0B0B0; } /* firefox 19+ */
.cb-search-content:-ms-input-placeholder { color:#B0B0B0; } /* ie */
.cb-search-content:-moz-placeholder { color:#B0B0B0; }

.cb-search-content:focus {
  border-color: #66afe9;
  outline: 0;
  background-color: #fff;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
	width:50%;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media screen and (min-width: 768px) {
    .dropdown-menu {
        position: relative;
        float: none;
        font-size: 18px;
		color:black;
        width: 50%;
        margin: 0 15%;
    }

    .cb-search-tool ul {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cb-search-content {
        display: block;
        width: 40%;
        margin: 0 15%;
        position: absolute;
        top: 13%;
        float: none;
        left: auto;
        right: auto;
        font-size: 20px;
        padding: 6px 12px;
        height: 40px;
        background-color: #fff;
        box-sizing: border-box;
        color: black;
        opacity: 1.0;
		border: none;
		outline: none;
        line-height: 1.42857143;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
}

@media screen and (max-width: 767px) {
    .dropdown-menu {
        position: relative;
        float: none;
        font-size: 18px;
        width: 50%;
        margin: 0 2%;
    }

    .cb-search-tool ul {
        width: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cb-search-content {
        width: 40%;
        margin: 0 2%;
        position: absolute;
        top: 10%;
        left: auto;
        right: auto;
        font-size: 20px;
        height: 40px;
        background-color: #fff;
        color: black;
        opacity: 1.0;
		border: none;
		outline: none;
        box-sizing: border-box;
        padding: 6px 12px;
        line-height: 1.42857143;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
}